* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.calculator {
  background-color: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  height: 100px;
}

.calculator-display .display {
  background-color: rgb(77, 77, 77);
  margin: 10px;
  overflow: hidden;
  height: 80px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 2px rgb(90, 90, 90);
}

.calculator-display .display h1 {
  font-size: 45px;
  margin: 0;
  padding: 25px;
  font-weight: 400;
  overflow: hidden;
}

.calculator-display .display h2 {
  position: absolute;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  font-weight: 400;
  overflow: hidden;
}

.calculator-button {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 300;
  border: none;
  box-shadow: 0 1px 4px rgb(90, 90, 90);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: whitesmoke;
}

button:active {
  box-shadow: 0 0 0;
  transform: translateY(1px);
}

button:hover {
  background-color: rgb(228, 228, 228);
}

.operator {
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.operator:hover {
  background-color: rgb(255, 205, 113);
}

.equal {
  grid-column: 4;
  grid-row: 2 / span 4;
}